@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.header {
  background-color: #083644;
  height: 62px;
  padding: 18px;
  display: flex;
  gap: 20px;
}

.header__icons-wrapper {
  display: flex;
  gap: 20px;
}

.header svg path {
  transition: all 400ms ease-in-out;
}

.header svg:hover path {
  stroke: #ff5d9e;
}

.header__btn-back {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;
  border: none;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}

.header__btn-back::before {
  align-self: center;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin: 5px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(135deg);
  cursor: pointer;
}

.header__btn-back:hover {
  color: #ff5d9e;
}

.hero__form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #6c7072;
}

.hero__name-input {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #edeef0;
  border-radius: 3px;
  transition: all 400ms ease-in-out;
}

.hero__name-input:focus {
  outline: none;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero__name-input:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero__select {
  padding: 10px;
  color: #6c7072;
  border: 1px solid #edeef0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 400ms ease-in-out;
}

.hero__select:focus {
  outline: none;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero__select:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.hero__btn {
  background-color: #083644;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: 1px solid #083644;
  border-radius: 4px;
  transition: all 400ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero__btn:hover {
  background-color: #ff5d9e;
  border: 1px solid #ff5d9e;
}
.hero__error-wrapper {
  height: 20px;
  margin: 0 20px;
}

.hero__error-message {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ff5d9e;
  display: none;
}

.hero__collection {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  margin: 20px 40px;
  gap: 30px;
}

.hero__card {
  justify-self: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  color: #0a2530;
}

.hero__image-container {
  position: relative;
}

.hero__card-image {
  margin-bottom: 10px;
}

.hero__favourite-box {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 4%;
  left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero__favourite-box::after {
  content: "";
  background: url(./images/icons/favourite-icon.svg) no-repeat;
  width: 15px;
  height: 13px;
  display: inline-block;
}

.favourite-box--active {
  background-color: #0a2530;
}

.favourite-box--active::after {
  content: "";
  background: url(./images/icons/favourite-icon-white.svg) no-repeat;
  width: 15px;
  height: 13px;
  display: inline-block;
}

.hero__card h4 {
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}

.hero__card p:nth-of-type(1) {
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 18px;
}

.hero__card p {
  margin-bottom: 5px;
}

.hero__card p:nth-of-type(4) {
  margin-bottom: 15px;
}

.hero__card p span {
  color: #738286;
}

.hero__card-btn {
  background-color: #0a2530;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid #0a2530;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 400ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero__card-btn:hover {
  background-color: #ff5d9e;
  border: 1px solid #ff5d9e;
}

.hero__card-btn::after {
  content: "";
  background: url(./images/icons/plus-icon.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.footer__btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #738286;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn--hover:hover {
  border: 1px solid #e7eaf6;
  background-color: #e7eaf6;
}

.btn--active {
  background-color: #0a2530;
  border: 1px solid #0a2530;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 992px) {
  .hero__form {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .hero__collection {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .header {
    justify-content: space-between;
  }

  .hero__form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 15px;
  }

  .hero__select {
    padding: 0;
  }

  .hero__name-input {
    grid-column: 1/3;
  }

  #genre {
    grid-column: 1/2;
  }

  #decade {
    grid-column: 2/3;
  }

  #country {
    grid-column: 1/3;
  }

  .hero__btn {
    grid-column: 1/3;
    font-size: 16px;
  }

  .hero__collection {
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    gap: 0;
  }

  .hero__card {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer__btn {
    font-size: 14px;
  }
}
